/* Variables */
:root {
  --header-height: 10vh;
  --primary-color: #7234FA;
  --secondary-color: #ddd8ce; /* Gold */
  --header-color: #222222;
  --background-color: #334464; /* Dark grey */
  --text-color: #312F36;
  --secondary-text-color: #666; /* Medium grey */
  --background: linear-gradient(0deg, rgba(187,187,187,1) 0%, rgba(214,214,214,1) 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

/* Header Styles */
.map-header {
  height: var(--header-height);
  position: static;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--header-color);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.header-logo {
  width: 10%;
  height: 70%;
  display: flex;
  align-items: center;
  margin-right: 20em;
  color: white;
}

.map-header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-header nav ul li {
  display: inline;
  margin-right: 10vh;
}

.map-header nav ul li a {
  color: white;
  text-decoration: none;
}

/* User Info Styles */
.user-info {
  width: 12%;
  height: 70%;
  display: flex;
  align-items: center;
  margin-right: 10%;
  background-color: var(--background-color);
  padding: 1em;
  border-radius: 1em;
}

.user-info:hover {
  cursor: pointer;
}

.user-info span {
  margin-left: 10px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border: solid 2px black;
  border-radius: 50%;
}

/* Dropdown Menu Styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  top: var(--header-height);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dropdown-content a, .dropdown-content button {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

#logout-button {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

/* Body Styles */
body {
  background-size: cover;
  display: flex;
  flex-direction: column; /* Add this line */
  justify-content: center;
  background: whitesmoke;
}

/* Main Page Styles */
.main-page {
  width: 80%; /* Adjust the width to account for the margins */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--background-color);
  margin-left: 10%; /* Add this line */
  margin-right: 10%; /* Add this line */
  padding-bottom: 10%;
}

/* Section Styles */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Main Page Text Section Styles */
.main-page-text {
  color: var(--text-color);
  text-align: center;
  font-size: 2em;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
  background-color: var(--secondary-color);
}

/* Map Container Styles */
.map-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}

.map-content {
  display: flex;
  height: 100%;
  flex-direction: row;
}

/* Map Top Bar Styles */
.map-top-bar {
  width: 100%;
  height: 10%;
  background-color: var(--header-color);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.map-top-bar h2 {
  margin-left: 2%;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#searchbox {
  width: 100%;
  height: 50%;
  margin-left: 2%;
  border-radius: 10px;
  padding: 1%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
#searchbutton {
  width: 10%;
  height: 50%;
  margin-right: 2%;
  border-radius: 10px;
  border: none;
  padding: 2%;
  background-color: var(--background-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menubutton {
  margin-right: 2%;
  border-radius: 10px;
  border: none;
  padding: 1%;
  background-color: var(--background-color);
  color: white;
}

/* Map Styles */
#leaflet-map {
  height: 100%; /* Adjust height as needed */
  width: 75%;
}

/* Restaurant List Styles */
.map-info {
  height: 100%;
  width: 25%;
  background-color: white;
}

.restaurent-list {
  height: 100%;
  overflow-y: auto;
}

.map-info .list-item {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  margin: 10px 0;
  padding: 2%;
  margin: 5% 2% 5% 2%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  border: 2px solid gray;
  backdrop-filter: blur(10px);
  transition: border-color 0.3s ease;
  border-radius: 15px;
}

.map-info .list-item:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 1);
}

/* Footer Styles */
footer {
  clear: both;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--header-color);
  padding: 2%;
}


